<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/web?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">parmera</property>
    <mapping resource="Login.hbm.xml"/>
    <mapping resource="PersonalInfo.hbm.xml"/>
    <mapping resource="Academic.hbm.xml"/>
    <mapping resource="Accepted.hbm.xml"/>
    <mapping resource="Book.hbm.xml"/>
    <mapping resource="Complementary.hbm.xml"/>
    <mapping resource="Experience.hbm.xml"/>
    <mapping resource="Published.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
