<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/web</property>
    <property name="hibernate.default_schema">public</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <mapping resource="Login.hbm.xml"/>
    <mapping resource="PersonalInfo.hbm.xml"/>
    <mapping resource="Academic.hbm.xml"/>
    <mapping resource="Accepted.hbm.xml"/>
    <mapping resource="Book.hbm.xml"/>
    <mapping resource="Complementary.hbm.xml"/>
    <mapping resource="Experience.hbm.xml"/>
    <mapping resource="Published.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
